
@media screen and (max-width: 800px)
    .content-container
        display: block

    .content-nav, .content-main
        width: 100%
    
    ul.grid
        grid-template-columns: 1fr 1fr

    .nomobile
        display: none !important
    
    body
        position: relative

    footer.mobile-nav
        position: sticky
        bottom: 0
        left: 0
        width: 100%
        overflow: hidden
        margin: 0
        padding: 0
        background-color: var(--background)
        box-shadow: 0 0 6px var(--border)
        z-index: 150

        > ul
            display: flex
            list-style: none
            margin: 0
            padding: 0
            flex-direction: row
            align-items: stretch
            justify-content: stretch
            > li
                flex: 1
                padding: .5em
                margin: 0
                text-align: center
                a
                    text-decoration: none
                .icon
                    font-size: 2rem

    .content-nav
        margin: 1em
        width: unset

    header.header h1
        margin-top: 4px
        margin-left: 6px

    .content-header
        text-align: center
    
    .big-search-bar form
        flex-direction: column

        [type="submit"]
            width: unset
            margin: 12px auto
    
@media screen and (max-width: 960px)
    .header-username
        display: none
        
    header.header
        padding: .5em .5em

        .mini-search-bar
            display: none

            + a
                display: inline-block

        ul > li:has(.mini-search-bar)
            flex: unset


// not mobile: //

@media screen and (min-width: 801px)
    .mobileonly
        display: none !important