<!DOCTYPE html>
<html>
  <head>
    {% from "macros/title.html" import title_tag with context %}
    {{ title_tag("Admin") }}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% for private_style in private_styles %}
    <link rel="stylesheet" href="{{ private_style }}" />
    {% endfor %}
  </head>
  <body class="admin {{ theme_classes(current_user.color_theme) }}">
    <header class="header">
      <h1><span class="faint">{{ app_name }}:</span> <a href="{{ url_for('admin.homepage') }}">Admin</a></h1>
    </header>
    <div class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <p><a href="/">Back to {{ app_name }}</a>.</p>
    </footer>
    <script src="/static/lib.js"></script>
  </body>
</html>
