{% extends "base.html" %}
{% from "macros/title.html" import title_tag with context %}
{% from "macros/create.html" import privacy_select with context %}
{% from "macros/icon.html" import icon, callout with context %}

{% block title %}{{ title_tag('Editing: ' + p.title, False) }}{% endblock %}

{% block heading %}
<h2><span class="faint">Editing:</span> {{ p.title }}</h2>
{% endblock %}

{% block content %}
<div class="card">
  <form action="{{ url_for('edit.edit_post', id=p.id) }}" method="POST" enctype="multipart/form-data" class="boundaryless">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
      <textarea name="text" placeholder="What's happening?" class="create_text fullwidth">{{ p.text_content }}</textarea></dd>
    </div>
    <div>{{ privacy_select(p.privacy) }}</div>
    <div>
      <input type="submit" value="Save" />
    </div>
  </form>
  <p class="error">{{ icon('delete') }} <a href="/delete/post/{{ p.id | to_b32l }}">Delete post</a></p>
</div>

{% endblock %}