{% extends "base.html" %}
{% from "macros/title.html" import title_tag with context %}
{% from "macros/create.html" import checked_if with context %}

{% block title %}{{ title_tag('Settings for ' + gu.handle()) }}{% endblock %}

{% block heading %}
<h1><span class="faint">Settings:</span> {{ gu.handle() }}</h1>
{% endblock %}

{% block content %}
<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <section class="card">
    <h2>Community Identity</h2>
    <div>
      <label for="GS__display_name">Display name:</label>
      <input type="text" name="display_name" id="GS__display_name" value="{{ gu.display_name or '' }}" />
    </div>
    <div>
      <label for="GS__description">Description:</label>
      <textarea name="description" id="GS__description">{{ gu.description or '' }}</textarea>
    </div>
    <div>
      <button type="submit" class="primary">Save</button>
    </div>
  </section>
</form>
{% endblock %}
