{% extends "base.html" %}
{% from "macros/title.html" import title_tag with context %}

{% block title %}{{ title_tag('Privacy Policy') }}{% endblock %}

{% block content %}
<div class="content">
  {% filter to_markdown %}
# Privacy Policy

This is a non-authoritative copy of the actual Privacy Policy, always updated at <https://yusur.moe/policies/privacy.html>.

This privacy policy explains how we use personal data we collect when you use
this website.

## Who are we

**New Digital Spirit** is a pending-registration limited liability company based in \[REDACTED], Italy. Our website with updated contact information is <https://ndspir.it>.

Contact details: \[REDACTED]

## What are our domains

The New Digital Spirit Network includes these domains (and all relative subdomains):

* sakuragasaki46.net;
* sakux.moe;
* yusur.moe;
* sfio.moe;
* newdigitalspirit.com;
* ndspir.it;
* cittadeldank.it;
* rinascitasentimentale.it;
* ilterrestre.org;
* yusurland.xyz;
* laprimaparola.info;
* faxrizz.xyz;
* lacasadimimiebubu.com;
* strozeromail.com;
* other domains owned for brand protection reasons, with no content and that redirect to the former.

## What data do we collect

All websites in the New Digital Spirit Network collect the following data, as a part of automatic and intentional logging:

* **IP Addresses and User Agent Strings**.

Additionally, all sites where login is allowed collect the following data:

* **Session Cookies** - used for login
* **E-mail Addresses** - stored for password resets
* **Dates of Birth** - for legal compliance and terms enforcing reasons
* **User-Generated Content** - of various nature, provided by the user. The user is accountable for all of the data they upload, including sensitive information.

## Our use of cookies

We currently use transactional cookies for the purpose of staying logged in. If you disable those cookies, you will not be able to log in.

No advertising cookies are being currently used on the New Digital Spirit Network.

Websites on the network may additionally set a tracking cookie, for the purpose of
attack prevention ("legitimate interest"). These cookies are set for logged out users and may not be opted out.

## How do we collect your data

The data collected is provided as a part of automated logging, or
explicitly logged when accessing determined resources (in that case, a
warning is usually put when accessing the resource), included but not limited
to the use of tracking pixels.

## How will we use your data

The stated data is collected for various reasons, including law compliance, attack prevention and providing the service.

We take privacy, be it ours or the one of our users, very seriously.

We see leaks of private content (including chats) or data breach, be it in our public spaces or elsewhere, 
as a betrayal of our trust and the trust of our users, other than a crime and a breach of NDA.
We'll close an eye ONLY when we happen to receive a valid subpoena from an accredited authority,
and we are forced to comply at gunpoint or under threat of legal consequences.

## How do we store your data

The data collected is stored securely in EU servers. However, 
[our hosting provider](https://www.keliweb.it/) may have random access to the data we collect.

IPs and user agents logged explicitly are deleted after about 3 years.

## What are your data protection rights

* **Right to access** - You have the right to request New Digital Spirit for copies
  of your personal data.
* **Right to rectification** - You have the right to request that
  New Digital Spirit correct or complete any information you believe is not
  accurate or incomplete.
* **Right to erasure** - You have the right to request that New Digital Spirit
  erase your personal data, under certain condition.
* **Right to restrict processing** - You have the right to request that
  New Digital Spirit restrict the processing of your personal data, under certain
  conditions.
* **Right to object to processing** - You have the right to object to
  New Digital Spirit’s processing of your personal data, under certain conditions.
* **Right to data portability** - You have the right to request that
  New Digital Spirit transfer the data that we have collected to another
  organization, or directly to you, under certain conditions.
  
If you make a request, we have one (1) month to respond to you.
If you would like to exercise any of these rights, please contact us at our
email: \[REDACTED]

## Minimum age

We do not knowingly collect data from users under the age of 13, or United States residents under the age of 18.

Data knowingly from accounts belonging to underage users will be deleted, and their accounts will be terminated.

## Cookies

Cookies are text files placed on your computer to collect standard Internet
log information and visitor behavior information. When you visit our websites,
we may collect information from you automatically throught cookies or similar technology.

For further information, visit [allaboutcookies.org](https://allaboutcookies.org)

## Privacy policies of other websites

This privacy policy applies exclusively to the websites of the New Digital Spirit Network. Other
websites and subdomains have different privacy policies you should read.

## Updates

Last updated on May 13, 2025.

  {% endfilter %}
</div>
{% endblock %}