{% extends "base.html" %}
{% from "macros/title.html" import title_tag with context %}

{% block title %}{{ title_tag('Community Guidelines') }}{% endblock %}

{% block content %}
<div class="content">
  {% filter to_markdown %}
# Community Guidelines

This is a non-authoritative copy of the New Digital Spirit General Regulation, always updated at <https://ndspir.it/rules>.

Every place has rules.
Rules define how people must behave in order to preserve the place's integrity, and are expressions of the will of whoever rules over the place. Usually, part of the rules include basic safety directives and other stuff to make people stay.
You may not participate in our spaces, except in accordance with the rules.

_Last updated: May 5, 2025_

## 1. Remember the human

Empathy, respect and mutual understanding are at the base of any lasting relationship.
Keep a positive influence, and contribute to improving our community and keeping it safe.
Any form of harassment, violence, bullying, credible threats, bigotry, discrimination, hate speech or dehumanizing is not welcome in the spaces of New Digital Spirit.
 
## 2. Keep it legal

Follow all applicable law (specifically, Italian law and the law in force on the platform), and the Terms of Service of the platform.

> We are not reporting here the law as a whole.
> You can find out more about Italian law on these sites:   
> - [Normattiva](https://www.normattiva.it/)
> - [Gazzetta Ufficiale](https://www.gazzettaufficiale.it/)
> - [Brocardi](https://www.brocardi.it/)
> 
> Your interpretation of the laws is **at your own risk**; when in doubt, **contact your lawyer**.
> 
> Here is a list of most severe crimes in (nearly) all countries:
> - **Child pornography** ( )
> - **Terrorism**
> - **Piracy**/**Copyright infringement**, including downloading, hosting or torrenting copyrighted content (see also rule 10)
> - **Human trafficking**
> - **Sale of drugs** and other regulated goods
> - **Sale of firearms** and other weapons
> - **Murder**
> - **Turning against law enforcement** such as police, including violence, threats, deceit or refusal to comply with orders or identifying oneself
> - **Adultery**/**Rape** - the former in underdeveloped countries, the latter in developed ones

## 3. Don't turn against us

If you have trouble with us, discuss it first with the staff.
Do not put us in trouble by any means, including legal actions or threats, raiding, shitstorming, false accusations, morality trolling, intellectual property violation, and any other act in bad faith against us.
Severe violations of this kind will be met with an unappealable permanent ban.
 
> You agree to _indemnify_ and _hold harmless_ us, remember.

## 4. Don't turn against other people

Respect other members' privacy and dignity, and make them feel safe all the time.
Inform yourself about consent and boundaries in advance, respect them, and do not engage in stalking or intimidatory conduct. Do not share personally identifiable information (PII) — such as real names, credit card numbers, SSNs, phone numbers, home or work addresses, and face pics. Do not trigger other people's feelings on purpose (i.e. flame or troll).
If you are being blocked, leave them alone and move on.

## 5. Don't break our spaces

Other people have the right to enjoy our spaces in safety.
Do not attempt any form of privilege escalation or disruption.
Do not manipulate the staff or other users.
Do not attempt infrastructural damage, such as security exploits, (D)DoS, nukes, account grabbing, automated raids, social engineering, spamming and flooding. Don't exploit anyone physically or psychologically.

## 6. Enjoy your stay

Nobody is allowed to sell or advertise any product, service or social media channel in our spaces without the staff's authorization.
Always ask other members, before sending them direct messages (DM), if they are okay with it.
Porn stuff (e.g. OnlyFans), sexting/catcalling and financial scams are NEVER welcome.
Do not steal members from our community.

## 7. Stay on topic

Label appropriately any content.
Mark any spoiler and content (i.e. CW) that may hurt someone else's sensibility.

Keep the conversation on topic, and don't attempt to hijack the conversation or go off-topic.
Respect channel specific rules: NSFW and gore are prohibited unless explicitly allowed in the channel or server.

You are encouraged to use tone tags in ambiguous situations.

Avoid speaking or writing in languages the staff or other members can't understand and moderate.
Limited discussions in those languages is allowed as long as an accurate translation is provided along.
Excessive jargon or argot (such as TikTok brainrot) is generally not allowed.

## 8. Be yourself

You are allowed to remain pseudonymous, and use the nickname or pfp that better fits you.
However, you may not impersonate other users or famous people, use blank or misleading usernames, or pretend to be a mod or admin.
Do not post content you don't own without credits or attribution.
Lying about own age is strictly forbidden. 
    
## 9. Be sincere

Keep our spaces authentic and trusted.
Don't spread misinformation.
Fact-check any claim, especially when sensationalistic or newsworthy, before sending or sharing it.
Do not foster conspiracy theories or pseudoscience.
Do not tell lies in order to deceive the staff or fellow members.
Always disclose usage of AI; bots posing as humans are strictly not tolerated.

## 10. What happens here, remains here

Except otherwise noted, anything sent in here is copyrighted.
Use outside our spaces of any conversation without authorization is forbidden, including in court and to train AI models.
Do not leak contents of private channels into public ones or elsewhere, or you'll lose access to our spaces as a whole.

We take leaks of private chats (be it on public channels of ours or other media) very seriously.
It is betrayal of our trust and the trust of our users, other than a crime and a breach of NDA, and it is grounds for terminating your account.
(We'll close an eye ONLY when we happen to receive a valid subpoena from an accredited authority, and we are forced to comply at gunpoint or under threat of legal consequences.) [Learn more…](javascript:void(0);)

> In legalese, you grant us a _non-exclusive, non-transferable, sublicensable, worldwide_ license to use your message content for the purpose of displaying it to other users, and allowing them to interact with you.
> 
> You are prohibited from using public and private conversations:
> 
> - in court, or as evidence to back rule 3 violations;
> - to train AI (LLM, GPT, ...) models;
> - as part of an investigation for the purpose of legal prosecution;
> - for targeted advertising profilation;
> - in a way that infringes upon applicable copyrights.

## 11. Behave your age

Be mature, and don't engage in immature behavior or lose control of yourself.
Do not gain access to age-restricted channels and spaces if you are not old enough (i.e. you can't access adult-only/NSFW channels while under 18).
In behaviors where age makes a difference, state clearly your age, and get to know the age of others.
**Lying about own age is strictly forbidden.**

You may not engage in any sexual activity (including flirting, sexual roleplay and suggestive behavior) if you are under 18, the other person is not consentient, or outside adult-only spaces, in presence of any minor.
You have the duty to recognize whether someone is trolling you sexually ("jailbait"), and firmly refuse to engage with such behavior.
**Zero tolerance for adults hitting on minors («pedophilia»)**; see our [statement on CSAM and Minor Account Policy](https://sakux.moe/policies/u18.html)  

## 12. Keep your stuff to yourself

Do not bring unnecessary drama to our community.
Do not spill your emotions or project your issues all over us.

**We are not your army**. Do not engage in or ask us to engage in "wars" or feuds.
Do not ask us to do things (be them good or bad) for you, for free.
If you want us to do something, you have to pay us.
And we still have the right to refuse to do it.

Do not blame us for things out of our control, we are not responsible for that.

## 13. Take accountability for your actions

Every action has a consequence.
If you break the rules, expect punishment or decay of privileges.
Your punishment is applied to every account you own alike.
Once you are banned, you are banned forever.
You may not use alts to get around moderation decisions or return after being banned.

> Warns and time-outs are final.
> 
> At administration's discretion, you may be able to appeal your permanent ban, or pay a small fee to get unbanned. You may submit only one appeal (regardless of it being granted or denied) or pay only one unban fee every 30 days. Permanent bans may be appealed only 3 months after the issue date, or later. Permanent bans for rule 3 (putting us at risk) violations, or for breaking the law, can NEVER be appealed.
>     
> We don't care if you get banned from the platform.
>     
> Do not use modded clients for illegal purposes, invasion of privacy or ban circumvention.
> 
> We reserve the right to ban on sight users and IP addresses we deem highly dangerous for the safety of our community. Remember: **belonging to our community is a privilege, not a right**.

## 14. Staff has the last words

Admins and moderators are the ones in charge of building our community and keeping it clean.
It's not their job, they do it on their free time and they are not paid or rewarded for this.
Therefore, be kind and respectful with them. Staff decisions are final.
You may not ask for moderation permissions or server transfers.

If the staff is breaking the rules and/or making you feel unsafe, report them to me.
I'll take charge and hold them accountable.

## 15. Follow channel-specific rules

Every community and channel is free to define additional rules to their fitness, and its members must abide by them, in addition to global rules and the law.
Channel rules that go against global rules cannot be set.

If you feel unsafe in a community, or feel like your actions and/or presence makes someone else uncomfortable, leave it.
Nobody needs to belong to every community.

## Final words

The updated ruleset is always available at [https://ndspir.it/rules](https://ndspir.it/rules).

In case of conflicts or discrepancies between translations, the English version takes precedence.

The entire text of our General Regulation is free for everyone to use, as long as the text and its core concepts are not altered in a significant way. We encourage its adoption in order to make rules more clear, respecting them more mindless, and moderation easier.
{% endfilter %}