
{% from "macros/icon.html" import icon with context %}

{% macro checked_if(cond) %}
{% if cond -%}
checked=""
{%- endif %}
{% endmacro %}

{% macro disabled_if(cond) %}
{% if cond -%}
disabled=""
{%- endif %}
{% endmacro %}

{% macro privacy_select(value = 0) %}
<ul class="grid">
  <li><input type="radio" name="privacy" value="0" id="new__privacy_0" {{ checked_if(value == 0) }} /><label for="new__privacy_0" >{{ icon('topic_travel') }} Public <small class="faint">(everyone in your profile or public timeline)</small></label></li>
  <li><input type="radio" name="privacy" value="1" id="new__privacy_1" {{ checked_if(value == 1) }} /><label for="new__privacy_1" >{{ icon('link_post') }} Unlisted <small class="faint">(everyone in your profile, hide from public timeline)</small></label></li>
  <li><input type="radio" name="privacy" value="2" id="new__privacy_2" {{ checked_if(value == 2) }} /><label for="new__privacy_2" >{{ icon('custom_feed') }} Friends <small class="faint">(only people you follow each other)</small></label></li>
  <li><input type="radio" name="privacy" value="3" id="new__privacy_3" {{ checked_if(value == 3) }} /><label for="new__privacy_3" >{{ icon('lock') }} Only you <small class="faint">(nobody else)</small></label></li>
</ul>
{% endmacro %}

{% macro comment_area(url) %}
<form id="comment-area" class="boundaryless" action="{{ url }}" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="reply_to" value="" />
  <div>
    <textarea name="text" placeholder="Comment as {{ current_user.handle() }} ~"></textarea>
  </div>
  <div class="button-row-right">
    <button type="reset">Cancel</button>
    <button type="submit" class="primary">Publish</button>
  </div>
</form>
{% endmacro %}