{% macro embed_post(p) %}
  <div id="post-{{ p.id | to_b32l }}" class="post-frame" data-endpoint="{{ p.id | to_b32l }}">
	<h3 class="message-title"><a href="{{ p.url() }}">{{ p.title }}</a></h3>
	<div class="message-meta">Posted by <a href="{{ p.author.url() }}">@{{ p.author.username }}</a>
	  {% if p.parent_post %}
	    as a comment on <a href="{{ p.parent_post.url() }}">post “{{ p.parent_post.title }}”</a>
	  {% elif p.guild %}
		on <a href="{{ p.guild.url() }}">{{ p.guild.handle() }}</a>
	  {% else %}
		on their user page
	  {% endif %}
	  - <time datetime="{{ p.created_at.isoformat('T') }}">{{ p.created_at.strftime('%B %-d, %Y at %H:%M') }}</time>
	</div>

	<div class="message-content">
	  {{ p.text_content | to_markdown }}
	</div>
  </div>
{% endmacro %}