
{% from "macros/icon.html" import icon with context %}
{% from "macros/button.html" import block_button, subscribe_button with context %}

{% macro nav_guild(gu) %}
  <aside class="card">
	<h3>About <a href="{{ gu.url() }}">{{ gu.handle() }}</a></h3>
	<ul>
	  <li><i class="icon icon-info" style="font-size:inherit"></i> {{ gu.description }}</li>
	  <li>
		<strong>{{ gu.posts | count }}</strong> posts -
		<strong>{{ gu.subscriber_count() }}</strong> subscribers
	  </li>
	</ul>
  </aside>
  {% if current_user.is_authenticated %}
  {{ subscribe_button(gu, gu.has_subscriber(current_user)) }}
  {% endif %}
{% endmacro %}

{% macro nav_user(user) %}
  <aside class="card">
    <h3>About <a href="{{ user.url() }}">{{ user.display_name or user.handle() }}</a></h3>
	<ul>
	  {% if user.biography %}
	  <li>{{ icon('info') }} {{ user.biography }}</li>
	  {% endif %}
	  {% if current_user.is_authenticated and current_user.age() >= 18 and user.age() < 18 %}
	  <li class="error">{{ icon('spoiler') }} MINOR</li>
	  {% endif %}
	</ul>
  </aside>
  {% if user == current_user %}
  <a href="/settings"><button class="card">{{ icon('settings') }} Settings</button></a>
  {% elif current_user.is_authenticated %}
  {{ block_button(user, current_user.has_blocked(user)) }}
  {{ subscribe_button(user, user.has_subscriber(current_user)) }}
  {% else %}
  <aside class="card">
    <p><a href="/login">Log in</a> to subscribe and interact with {{ user.handle() }}</p>
  </aside>
  {% endif %}
{% endmacro %}

{% macro nav_top_communities(top_communities) %}
<aside class="card">
  <h3>Top Communities</h3>
  <ul>
	{% for comm, pcnt, scnt in top_communities %}
	<li><strong><a href="{{ comm.url() }}">{{ comm.handle() }}</a></strong> - <strong>{{ pcnt }}</strong> posts - <strong>{{ scnt }}</strong> subscribers</li>
	{% endfor %}
	{% if current_user and current_user.is_authenticated and current_user.can_create_community() %}
	<li>Can’t find your community? <a href="/createcommunity">Create a new one.</a></li>
	{% endif %}
  </ul>
</aside>
{% endmacro %}
