
{% macro nav_guild(gu) %}
  <aside class="card">
	<h3>About <a href="{{ gu.url() }}">{{ gu.handle() }}</a></h3>
	<ul>
	  <li><i class="icon icon-info" style="font-size:inherit"></i> {{ gu.description }}</li>
	  <li>
		<strong>{{ gu.posts | count }}</strong> posts -
		<strong>-</strong> subscribers
	  </li>
	</ul>
  </aside>
{% endmacro %}

{% macro nav_user(user) %}
  <aside class="card">
    <h3>About <a href="{{ user.url() }}">{{ user.display_name or user.handle() }}</a></h3>
	<ul>
	{% if user.biography %}
	  <li>{{ icon('info') }} {{ user.biography }}</li>
	  {% endif %}
	</ul>
  </aside>
{% endmacro %}

{% macro nav_top_communities(top_communities) %}
<aside class="card">
  <h3>Top Communities</h3>
  <ul>
	{% for comm, pcnt, scnt in top_communities %}
	<li><strong><a href="{{ comm.url() }}">{{ comm.handle() }}</a></strong> - <strong>{{ pcnt }}</strong> posts - <strong>{{ scnt }}</strong> subscribers</li>
	{% endfor %}
	{% if current_user and current_user.is_authenticated and current_user.can_create_community() %}
	<li>Can’t find your community? <a href="/createcommunity">Create a new one.</a></li>
	{% endif %}
  </ul>
</aside>
{% endmacro %}